.about__img--wrapper {
  $border-width: 15px;

  border-radius: 999px;
  background: red;
  width: 300px + $border-width;
  height: 300px + $border-width;
  display: block;
  overflow: hidden;
  border: $border-width solid $white;
  box-shadow: 0px 0px 50px rgba(0,0,0,0.3);
}

.about__img {
  @include centerHorizontal();

  max-width: none;
}
