.about-info__img--wrapper {
  $border-width: 15px;

  border-radius: 999px;
  background: red;
  width: 400px + $border-width;
  height: 400px + $border-width;
  display: block;
  overflow: hidden;
  border: $border-width solid $white;
  box-shadow: 0px 0px 50px rgba(0,0,0,0.3);
}

.about-info__img {
  @include centerHorizontal();

  max-width: none;
}

.about-header {
  margin-bottom: 2rem;
}

.about-header__heading {
  margin-bottom: 2rem;
}

.about-header__show-details {
  padding-left: 1rem;
  border-left: 4px solid $blue;
}

.about-header__date {
  margin-bottom: 0;
}

// highlights

.about-highlights {
  margin-top: 3rem;
}

.about-highlights__ico {
  margin-bottom: 1rem;
}
