.sponsors {
  @include gradient(#F8F8F8, $white);
}

.sponsors-header {
  text-align: center;
  margin-bottom: $block-header__margin;

  @include breakpointSmallerThan($breakpoint--large) {
    @if ($block-header__margin > 2) {
      margin-bottom: 1rem;
    }
  }
}

.sponsors-header__detail {
  width: 60%;
  margin: 0 auto;
}

.sponsors-header__heading {
  @if ($block-header__margin >= 2) {
    margin-bottom: 1rem;
  } @else {
    margin-bottom: $block-header__margin;
  }
}

.sponsors-list__listing {
  text-align: center;

  @include breakpointSmallerThan($breakpoint--large) {
    margin: 3rem 0;
  }
}
