h1 {
  font-family: $font-family--secondary;
  font-size: 3rem;
  font-weight: bold;
  font-style: normal;
  color: $black;
  text-transform: uppercase;
}

h2 {
  font-family: $font-family--secondary;
  font-size: 2rem;
  font-weight: normal;
  font-style: normal;
  color: $black;
  text-transform: uppercase;
  letter-spacing: 5px;
}

h3 {
  font-family: $font-family--secondary;
  font-size: 1.5rem;
  font-weight: normal;
  font-style: normal;
  color: $black;
  text-transform: uppercase;
  line-height: 1.5;
}

h4 {
  font-family: $font-family--primary;
  font-size: 1rem;
  font-weight: bold;
  font-style: normal;
  color: $black;
  line-height: 1.5;
  letter-spacing: 1px;
}

h5 {
  font-family: $font-family--primary;
  font-size: .875rem;
  font-style: normal;
  font-weight: normal;
  color: $grey;
  text-transform: uppercase;
}

p {
  font-family: $font-family--primary;
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  color: $grey;
  margin-bottom: 1rem;
  line-height: 1.5;
}

a {
  font-size: 1rem;
  text-decoration: none;
  color: $grey;
}

a:hover {
  color: $blue;
}

.callout {
  color: $black;
}
