/////////////////////
//// BASE COLORS
/////////////////////

$black: #1D1D1D;
$white: #FFFFFF;
$red: #DA4624;
$yellow: #E8B71A;
$green: #62BB22;
$blue: #28ABE3;
$pink: #FF4C65;
$purple: #982395;
$orange: #FB6648;
$grey: #777777;

/////////////////////
//// SITE COLORS
/////////////////////
