// Breakpoint Helpers

@mixin breakpoint($breakpoint, $type: 'max') {
  @media (#{$type}-width: $breakpoint) {
    @content;
  }
}

@mixin breakpointBetween($fromBreakpoint, $toBreakpoint) {
  @media (min-width: $fromBreakpoint) and (max-width: $toBreakpoint - 1) {
    @content;
  }
}

@mixin breakpointSmallerThan($breakpoint) {
  @include breakpoint($breakpoint - 1, 'max') {
    @content;
  }
}

@mixin breakpointLargerThan($breakpoint) {
  @include breakpoint($breakpoint, 'min') {
    @content;
  }
}

@mixin centerVertical() {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
