// Breakpoint Helpers

@mixin breakpoint($breakpoint, $type: 'max') {
  @media (#{$type}-width: $breakpoint) {
    @content;
  }
}

@mixin breakpointBetween($fromBreakpoint, $toBreakpoint) {
  @media (min-width: $fromBreakpoint) and (max-width: $toBreakpoint - 1) {
    @content;
  }
}

@mixin breakpointSmallerThan($breakpoint) {
  @include breakpoint($breakpoint - 1, 'max') {
    @content;
  }
}

@mixin breakpointLargerThan($breakpoint) {
  @include breakpoint($breakpoint, 'min') {
    @content;
  }
}

@mixin clearfix() {
  &:after {
   content: "";
   display: table;
   clear: both;
 }
}

@mixin centerVertical() {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

@mixin centerHorizontal() {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

@mixin gradient($startVal, $endVal) {
  background: -webkit-linear-gradient($startVal, $endVal);
  background: -o-linear-gradient($startVal, $endVal);
  background: -moz-linear-gradient($startVal, $endVal);
  background: linear-gradient($startVal, $endVal);
}
