// Breakpoints

$breakpoint--small: 480px;
$breakpoint--medium: 768px;
$breakpoint--large: 970px;
$breakpoint--xlarge: 1200px;

// Fonts

$font-family--sans-serif: 'Josefin Sans', Arial, Helvetica, sans-serif;


// Components

$block__spacing: 3rem;
