// Breakpoints

$breakpoint--small: 480px;
$breakpoint--medium: 768px;
$breakpoint--large: 970px;
$breakpoint--xlarge: 1200px;

// Fonts

$font-family--primary: 'Lato', Arial, Helvetica, sans-serif;
$font-family--secondary: 'Josefin Sans', Arial, Helvetica, sans-serif;


// Components

$block__spacing: 6rem;

// Speaker Listing

$speaker-list__img-size: 40%;
$speaker-list__img-margin: 5%;
